<div class="topBar field-row">
    <div class="topBarBurger">
        <button id="sideBarButton" type="button" onclick="OpenSidebar()"></button>
    </div>
    <a href="https://utksi.github.io">
        <img src="/resources/favicon.png" class="filterDisabled"/>
    </a>
    <div class="topBarText">
        <p>
            <a href="https://utksi.github.io" style="text-decoration: none; color: inherit;">
                <span class="topBarTextTop">Utkarsh Singh</span>
            </a>
            <br>
            <a href="https://utksi.github.io" style="text-decoration: none; color: inherit;">
                <span class="topBarTextBottom">AGI can't come soon enough</span>
            </a>
        </p>
        <div class="topBarTextGradient"></div>
    </div>
</div>

