<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ page.title }}</title>
  <link href="{{ '/css/shared/colors.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/shared/images.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/shared/social.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/shared/fonts.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/shared/index.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/shared/scaffold.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/shared/list.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/mobile/social.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/mobile/index.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/mobile/scaffold.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/computer/social.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/computer/index.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/computer/scaffold.css' | relative_url }}" rel="stylesheet">
  <script src="{{ '/javascript/common.js' | relative_url }}"></script>
  <script src="{{ '/javascript/pages/index.js' | relative_url }}"></script>
  <link href="{{ '/resources/favicon.png' | relative_url }}" rel="icon">
  <meta content="Home Page" name="og:title">
  <meta content="{{ site.url }}" name="og:url">
  <meta content="Hi! This is the homepage to my personal website! I post blogs and random stuff here. Hope you enjoy it!" name="og:description">
  <meta content="{{ site.url }}/resources/bannercropped.png" name="og:image">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="#396BA5" name="theme-color">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
  {% include topbar.html %}
  <div class="mainBodyDiv field-row">
    <div class="innerBodyDiv field-row">
      {% include sidebar.html %}
      <div class="bodyContent">
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html>

