<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ page.title }}</title>
  <link href="/css/shared/colors.css" rel="stylesheet">
  <link href="/css/shared/images.css" rel="stylesheet">
  <link href="/css/shared/social.css" rel="stylesheet">
  <link href="/css/shared/fonts.css" rel="stylesheet">
  <link href="/css/shared/index.css" rel="stylesheet">
  <link href="/css/shared/scaffold.css" rel="stylesheet">
  <link href="/css/shared/list.css" rel="stylesheet">
  <link href="/css/mobile/social.css" rel="stylesheet">
  <link href="/css/mobile/index.css" rel="stylesheet">
  <link href="/css/mobile/scaffold.css" rel="stylesheet">
  <link href="/css/computer/social.css" rel="stylesheet">
  <link href="/css/computer/index.css" rel="stylesheet">
  <link href="/css/computer/scaffold.css" rel="stylesheet">
  <script src="/javascript/common.js"></script>
  <script src="/javascript/pages/index.js"></script>
  <link href="/resources/favicon.png" rel="icon">
  <meta content="Home Page" name="og:title">
  <meta content="{{ site.url }}" name="og:url">
  <meta content="Hi! This is the homepage to UT's personal website! I post blogs and random stuff here. Hope you enjoy it!" name="og:description">
  <meta content="{{ site.url }}/resources/bannercropped.png" name="og:image">
  <meta content="summary_large_image" name="twitter:card">
  <meta content="#396BA5" name="theme-color">
</head>
<body>
  <div data-include="topbar"></div>
  <div class="mainBodyDiv field-row">
    <div class="innerBodyDiv field-row">
      <div data-include="sidebar"></div>
      <div class="bodyContent">
        {{ content }}

        <h2>Latest Posts</h2>
        <ul>
          {% for post in site.posts limit:3 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_string }}
            <p>{{ post.description }}</p>
          </li>
          {% endfor %}
        </ul>

        <h2>Latest Knowledge Articles</h2>
        <ul>
          {% for article in site.knowledge limit:3 %}
          <li>
            <a href="{{ article.url }}">{{ article.title }}</a> - {{ article.date | date_to_string }}
            <p>{{ article.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

