.socialMediaIcon
{
	-webkit-user-select: none;
	user-select: none;

	background-position: center;
	background-repeat: no-repeat;
}

/*GITHUB ICON*/
.socialMediaIcon.github
{
	background-image: var(--github-icon);
}
/*twitter/x ICON*/
.socialMediaIcon.twitter
{
	background-image: var(--twitter-icon);
}
